body {
    color: black;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    margin: 150px 0 60px;
}

h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 50px;
}

p {
    color: #727272;
}

button {
    padding: 19px 41px 20px;
    letter-spacing: 0.1em;
    margin-top: 65px;
    color: white;
    background: #34547A;

}

section {
    padding: 0 20%;
}

.section1 {
    padding-top: 88px;
    padding-bottom: 140px;
    background: #EEEFF1;

}

.section1-container {
    max-width: 540px;
}

i {
    font-size: 24px;
}

.section2 {
    padding: 112px 20%;
    background: #ffffff;
}

.section2 p {
    max-width: 540px;
    text-align: center;
    margin: 0 auto;

}

nav a:not(:first-of-type) {
    margin-left: 42px;
}

.section3-container {
    padding: 100px 20%;
    max-height: 250px;
    background-color: #34547A;
    text-align: center;
    position: relative;

}

.flex-item {

    display: flex;
    align-items: center;
    gap: 20px;

}

.img {
    max-height: 50px;
    max-width: 50px;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 24px;

}

.h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}


.section-3 p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

}

.section4 {
    text-align: center;
    position: relative;
    background: #EEEFF1;
}

.h2-sec4 {
    padding: 100px 0 50px;
    text-align: center;
    margin: 0 auto;
}

.parag {
    width: 540px;
    text-align: center;
    margin: 0 auto;

}


.container-video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 57px 0 100px;
}


footer {

    width: 100%;
    background: #34547A;
    padding: 50px 20%;

}

.footer-h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.footer-p3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF
}