body{
    padding: 80px 10%;
    color: black;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    margin: 150px 0 60px;
}

h2{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 50px;
}

p{
    color: #727272;
}
button{
    padding: 19px 41px 20px;
    letter-spacing: 0.1em;
    margin-top: 65px;
    color: white;
    background: #34547A;

}

section{
    padding: 0 20%;
}

.section1{
    padding-top: 88px;
    padding-bottom: 140px;
    background: #EEEFF1;

}
 .section1-container{
     max-width: 540px;
 }
 i{
     font-size: 24px;
 }

 .section2{
     padding-top: 112px;
     padding-bottom: 100px;
     background: #ffffff;
 }
 .section2 p {
     max-width: 540px;
     text-align: center;
     margin: 0 auto;

 }

 nav a:not(:first-of-type){
     margin-left: 42px;
 }


.section3-container {
    padding: 100px 0;
    max-height: 250px;
    max-width: 1920px;
    background-color: #34547A;
    text-align: center;
    position: relative;

}

.container-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}

.img {
    height: 50px;
}

.logo {
    padding: 0;
    float: left;
}

.txt {
    float: right;
    padding: 0 20px;

}

.h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}


.section-3 p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

}

.section4{
    max-width: 1920px;
    height: 1004px;
    text-align: center;
    position: relative;
    background: #EEEFF1;
}
.h2-sec4{
    width: 403px;
    height: 30px;
    text-align: center;
    padding: 100px 50px;
    margin: 0 auto;
}
.parag{
    width: 540px;
    height: 67px;
    text-align: center;
    margin: 0 auto;
}
.video{
    margin: 50px -50px 100px;
    width: 100%;

}


footer{
    max-width: 1920px;
    width: 100%;
    height: 151px;
    background: #34547A;
    padding: 50px 406px;
}
.footer-h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.footer-p3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF
}